<h4> <%= caption %> </h4>
<div>
    <span class="value">
        <strong  class="original"> <%= original %> </strong> <%= unit %>
    </span>
</div>
<div>
    <span class="value">
        <strong class="optimized">  <%= optimized %> </strong> <%= unit %>
    </span>
</div>
<div class="graph-container">
    <h6> savings </h6>
    <div class="graph">

    </div>
</div>
