<div class="metric-container">
    <h4> <%= caption %> </h4>
        <div class="value">
            <strong  class="original"> <%- original %> </strong> <%= unit %>
        </div>
        <div class="value">
            <strong class="optimized">  <%- optimized %> </strong> <%= unit %>
        </div>
    <div class="graph-container">
        <h6> savings </h6>
        <div class="graph">

        </div>
    </div>
</div>
